html, body {
    margin-left: 20px;
    margin-right: 20px;
}

body {
    font-family: "Inter", sans-serif;
    background: #ffffff;
    color: #222;
    box-sizing: border-box;
}

/* Title */

.title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Layout */

.dashboard {
    display: flex;
    gap: 30px;
    height: calc(100vh - 120px); 
}

/* Left Panel */

.side-panel {
    width: 275px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y:visible;

}


/* RIGHT PANEL */

.canvas-panel {
    flex: 1;
    position: relative;
    background: white;
    border-radius: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow:auto;

    background-color: #ffffff;
    border: 1px solid rgb(200, 200, 200);

    scroll-behavior: smooth;
}

.canvas-note {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 10px;
    color: hsl(0, 0%, 75%);
    line-height: 1.4;
    margin: 0;
    pointer-events: none;
    font-style:italic;
}

#floorplan {
    background: white;
    display: block;
}

/* Cards */

.card {
    background: white;
    padding: 18px;
    border-radius: 0px;

    background-color: #ffffff;
    border: 1px solid rgb(200, 200, 200);
    padding: 20px;
}

.card.metrics-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card:last-child{
    flex: 1;
}

.card h3 {
    margin-top: 0px;
    color: rgb(199, 199, 199);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
}

/* Rooms */

.room {
    stroke: #333;
    stroke-width: 1;
    fill-opacity: 0.75;
    transition: all 0.15s ease;
}

.room:hover {
    stroke-width: 3;
}

/* Room colors */

.common {
    fill: #6fbf73;
}

.private {
    fill: #5fa4e8;
}

/* Legend */

.legend-row {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
}

.legend-box {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 3px;
}

.legend-row span {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
}

.common-box {
    background: #6fbf73;
}

.private-box {
    background: #5fa4e8;
}

/* Metrics */

#metrics {
    flex: 1;
}


#metrics::-webkit-scrollbar {
    width: 6px;
}

#metrics::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

#metrics p {
    margin-bottom: 0px;
    margin-top: 6px;
    font-size: 14px;
}

#tooltip {
    position: absolute;
    z-index: 999;
    left: 22px;
    top: 0px;
    background: white;
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
}

.info-icon {
    margin-left: 6px;
    cursor: help;
    color: #888;
    font-size: 13px;
}